<div class='home-container'>
  <%= image_tag 'http://theabsolutemag.com/wp-content/uploads/2015/04/tumblr_nn73keKrv91qze3hdo1_500.gif', style: 'width: 900px' %>
  <p><a href='https://www.patreon.com/1041uuu'>Image by 1041uuu</a></p>
</div>
