<h1>Posts by Tag: <%=@tags.name%></h1>

<% @tags.posts.each do |t| %>
<div class='index-element'>
  <div class='post-title'><%= link_to t.title, post_path(t) %></div>
  <div class='post-body'><%= t.body_snippet %></div>
</div>
<% end %>
