body {
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 16px;
  max-width: 960px;
  color: #444
}

a {
  text-decoration: none;
  color: black;
}

.main {
  border-radius: 5px;
  font-family: sans-serif;
  max-width: 2000px;
  line-height: 1.6;
  font-size: 16px;
  color: #444;
  padding: 10px;
  background-color: #f2f2f2;
}

navbar {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 40px;
}

navbar a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

navbar a:first-of-type {
  padding: 0;
}

navbar a:hover {
  color: lightblue;
}

navbar p {
  display: inline;
  color: teal;
}
