body {
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 16px;
  max-width: 960px;
  color: #444
}

a {
  text-decoration: none;
  color: black;
}

.main {
  border-radius: 5px;
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #444;
  padding: 10px;
  margin-bottom: 30px;
  padding-bottom: 70px;
}

navbar {
  width: 96%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 16px;
  color: teal;
}

navbar a {
  padding: 0 5px;
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

navbar a:hover {
  color: #ABDCBE;
}

#navbar-left {
  justify-content: flex-start;
}

#navbar-right {
  justify-content: flex-end;
}

#navbar-right i {
  display: none;
  margin-right: 10px;
  margin-top: 6px;
  opacity: .4;
}

#navbar-right i:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.index-element {
  overflow: auto;
  word-wrap: break-word;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  border: .5px solid darkgrey;
  padding: 11px;
  margin: 3px;
  background-color: #f2f2f2;
}

.post-title a {
  color: rgba(57, 186, 169, .8);
  font-weight: bold;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.post-title :hover {
  color: rgba(27, 124, 112, 1);
  transition: 0.3s ease-in-out;
}

.post-body {
  margin-top: 10px;
}

h1 {
  margin-left: 10px;
}

form label {
  text-align: left;
	width: 100%;
  display: block;
  margin-left: 10px;
}


input[type=submit] {
  background-color: #3DAC9E;
  border: .5px solid #249283;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  height: auto;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

input[type=submit]:hover {background-color: #249283;}


form input {
  width: 90%;
  height: 20px;
  font-size: 16px;
  border: 1px solid whitesmoke;
  margin: 5px 0px 5px 0px;
  color: rgba(0, 0, 0, .5);
  border-radius: 5px;
}

form textarea {
  width: 90%;
  height: 120px;
  font-size: 16px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: scroll;
}

#favbutton {
  display: inline;
  margin-left: 10px;
  font-size: 26px;
}

#favbutton a {
  color: teal;
  opacity: .7;
}

#favbutton a:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;

}

#index-options {
  display: inline;
  margin: 0;
  font-size: 26px;
}

#index-options a {
  color: teal;
  opacity: .7;
}

#index-options a:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;

}

#post-header {
  display: inline;
}


.chosen-single {
  width: 90%px;
  text-align: left;
}

#post_tag_ids_chosen {
  width: 90%;
  text-align: left;
}

.form-container {
  margin: auto;
  margin-top: 30px;
  width: 400px;
  border-radius: 5px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 5px 15px 15px 15px;
}

.form-container label {
  margin-left: 18px;
}

.form-container a {
  color: teal;
  transition: 0.3s ease-in-out;
}

.form-container a:hover {
  color: #ABDCBE;
  transition: 0.3s ease-in-out;
}

.show-container {
  margin-left: 10px;
}

.show-page input[type=submit] {
  width: 180px;
  margin-left: 10px;
}

.show-page .form-container {
  padding-top: 30px;
  margin-left: 30px;
}

#index-search input {
  margin-left: 10px;
  width: 180px;
  display: inline-block;
}

.star-widget {
  margin-bottom: 10px;
}

.star-widget a {
  color: #7BC6B9;

}

.comment-span {
  border: 1px solid darkgrey;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.comment {
  margin: 4px;
}

.comment .fa {
  color: teal;
  opacity: .5;
}

.comment .fa:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.comment-container {
  margin-left: 10px;
  display: flex;
  align-content: space-between;
  flex-flow: column wrap;
}

.comment-name {
  color: teal;
}

nav {
  text-align: center;
  font-family: sans-serif;
  color: teal;
  font-size: 20px;
  margin-left: 10px;
}

nav a {
  font-family: sans-serif;
  font-size: 20px;
}

nav a:hover {
  color: #ABDCBE;
  transition: 0.3s ease-in-out;
}

.content {
  width: 800px;
  overflow: hidden;
}

.content img {
  float: left;
  width: 280px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 2px teal solid;
  margin: 10px 30px 5px 10px;
}

.google-login input[type=submit]{
  background-color: #DF4A32;
  border-color: #bc3f2b;
  transition: 0.3s ease-in-out;
}

.google-login input[type=submit]:hover{
  background-color: #bc3f2b;
}

.facebook-login input[type=submit]{
  background-color: #3B5998;
  border-color: #2d4472;
  transition: 0.3s ease-in-out;
}

.facebook-login input[type=submit]:hover{
  background-color: #2d4472;
}

.home-container {
  width: 100%;
  height: 100%;
  background-color: F2F2F2;
  text-align: center;
  margin-top: 30px;
  text-align: left;
}

.home-container img {
  padding-top: 10px;
}

.home-container a {
  font-size: 12px;
  color: #ABDCBE;
}

.about-container {
  background-color: F2F2F2;
  justify-content: left;
  margin: 60px;
}

#index-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
  margin-bottom: 20px;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.alert-notice {
  border-radius: 5px;
  border: 1px solid darkgrey;
  padding: 5px;
  background-color: rgba(211, 211, 211, .7);
  width: 99%;
  text-align: center;
  color: teal;
}

#comments {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid darkgrey;
}

#commentstext {
  margin-left: 10px;
}

#post_category_id {
  width: 90%;
}

i#form-submit-link {
  color: teal;
  opacity: .7;
  font-weight: bold;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 30px;
}


i#form-submit-link:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

@media(max-width: 820px){
  #navbar-right a{
    display: none;
  }
  #navbar-right i {
    display: inline;
  }
}
