.content {
  width: 800px;
  overflow: hidden;
}

.content img {
  float: left;
  width: 280px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 2px teal solid;
  margin: 10px 30px 5px 10px;
}

.home-container {
  width: 100%;
  height: 100%;
  background-color: F2F2F2;
  text-align: center;
  margin-top: 30px;
  text-align: left;
}

.home-container img {
  padding-top: 10px;
  margin-left: 10px;
}

.home-container a {
  font-size: 12px;
  margin-left: 10px;
  color: #ABDCBE;
}

.about-container {
  background-color: F2F2F2;
  justify-content: left;
  margin: 60px;
}
