navbar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 16px;
  color: teal;
}

navbar a {
  padding: 0 5px;
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

navbar a:hover {
  color: #ABDCBE;
}

#navbar-left {
  justify-content: flex-start;
}

#navbar-right {
  justify-content: flex-end;
}

#navbar-right i {
  display: none;
  margin-right: 10px;
  margin-top: 6px;
  opacity: .4;
}

#navbar-right i:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@media(max-width: 840px){
  #navbar-right a{
    display: none;
  }
  #navbar-right i {
    display: inline;
  }
}

.responsive-menu{
	display: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.responsive-menu li{
	list-style: none;
  text-align: center;
}

.responsive-menu a{
  padding: 0 5px;
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}

.responsive-menu a:hover {
  color: #ABDCBE;
}

.expand {
	display: block !important;
}
